@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Josefin Sans';
}

body {
    background-color: #F1F8E9;
}

/* Reset */

a, p, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* Header */

header {
    background-color: green;
}
header a {
    color: white;
}
header h1 {
    font-size: 1.6rem;
}

.header__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

/* Navigation */

nav ul {
    display: none;
}
nav ul li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid green;
}
nav ul li:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}
nav li a {
    color: white;
}

/* Hamburger Menu */

.hamburger-menu-icon {
    flex-grow: 1;
    text-align: right;
}
.fa-times {
    display: none;
}
.hamburger-menu {
    background-color: #F5DEB3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    flex-direction: column;
}
.hamburger-menu li {
    border-bottom: 1px solid #DEB887;
    padding: 10px 20px;
}
.hamburger-menu a {
    color: black;
    padding: 10px 0;
}
.hamburger-menu a:hover {
    color: rgba(0, 0, 0, 0.8);
}

/* Bread Trail */

.bread-trail {
    font-size: 0.8em;
}
.bread-trail a {
    color: black;
}
.bread-trail a:hover {
    color: green;
}

.bread-trail__container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

/* Main */

.main__container {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    margin: 0 auto;
    max-width: 1300px;
}

.main-image {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
}
.main-image img {
    width: 100%;
}
.main-image__caption {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.main-image__caption-description {
    font-size: 1.2rem;
}
.main-image__caption-description a {
    color: white;
}
.main-image__caption-description a:hover {
    color: #00FFFF;
}

.image-navigation {
    padding: 10px 0;
    text-align:center;
}

.main-text {
    background-color: #F5DEB3;
    padding: 20px;
}
.main-text__heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.main-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.main-text__button {
    background-color: #8B4513;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 10px 20px;
}
.main-text__button:hover {
    background-color: #FFC966;
    color: black;
    cursor: pointer;
}

/* About */

.about__container {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    max-width: 1300px;
}

.about__icon {
    padding: 20px;
}

.about__text {
    padding: 20px;
}
.about__text h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.about__text p {
    font-size: 1.2rem;
}

/* Features */

.features__container {
    align-items: center;
    background-color: #ACE1AF;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

.feature {
    margin-bottom: 40px;
    text-align: center;
}
.feature h2 {
    margin: 10px 0;
}

.features img {
    width: 100%;
}

/* Dots/Bullets/Indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading Animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Staff */

.staff__container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

.staff__heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.staff__members {
    display: flex;
    flex-direction: column;
}

.staff__member {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.staff__description {
    padding: 20px;
    text-align: center;
}
.staff__description h3 {
    margin-bottom: 10px;
}

/* Footer */

footer {
    background-color: green;
}

.footer__container {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

.footer__section {
    margin-bottom: 20px;
}
.footer__section__heading {
    color: orange;
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.footer__section__items li {
    margin-bottom: 10px;
}
.footer__section__items li a {
    color: white;
    font-size: 1.2rem;
}
.footer__section__items li a:hover {
    color: yellow;
}

@media screen and (min-width:500px) {

    /* Header */

    nav ul {
        display: flex;
    }

    .hamburger-menu-icon {
        display: none;
    }
    
    /* Main */

    .main__container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        padding: 0 20px;
    }

    /* Features */

    .features__container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .feature {
        margin: 0;
    }

    /* Staff */

    .staff__members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 640px) {

    /* Bread Trail */

    .bread-trail {
        font-size: 1em;
        margin-top: 10px;
        padding: 0 20px;
    }

    /* Main */

    .caption {
        font-size: 1.2em;
    }

    /* Footer */

    .footer__container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 730px) {

    /* Header */

    .header__container h1 {
        font-size: 1.8em;
    }
    nav ul {
        font-size: 1.2em;
    }

    /* Staff */

    .staff__members {
        grid-template-columns: repeat(3, 1fr);
    }
}
