@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Josefin Sans';
}

body {
    background-color: #F1F8E9;
}

/* Reset */

a, p, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* Header */

header {
    align-items: center;
    background-color: green;
    display: flex;
    padding: 20px;
}
header a {
    color: white;
}

.page-heading {
    font-size: 1.6rem;
}

/* Navigation */

nav ul {
    display: none;
}
nav ul li {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid green;
}
nav ul li:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}
nav li a {
    color: white;
}

/* Hamburger Menu */

.hamburger-menu-icon {
    flex-grow: 1;
    text-align: right;
}
.fa-times {
    display: none;
}
.hamburger-menu {
    background-color: #F5DEB3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* display: none; */
    flex-direction: column;
}
.hamburger-menu li {
    border-bottom: 1px solid #DEB887;
    padding: 10px 20px;
}
.hamburger-menu a {
    color: black;
    padding: 10px 0;
}
.hamburger-menu a:hover {
    color: rgba(0, 0, 0, 0.8);
}

/* Bread Trail */

.bread-trail {
    font-size: 0.8em;
    margin-top: 10px;
    padding: 0 20px;
}
.bread-trail a {
    color: black;
}
.bread-trail a:hover {
    color: green;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.main-image {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
}
.main-image img {
    width: 100%;
}
.main-image__caption {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.main-image__caption-description {
    font-size: 1.2rem;
}
.main-image__caption-description a {
    color: white;
}
.main-image__caption-description a:hover {
    color: #00FFFF;
}

.image-navigation {
    padding: 10px 0;
    text-align:center;
}

.main-text {
    background-color: #F5DEB3;
    padding: 20px;
}
.main-text__heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.main-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.main-text__button {
    background-color: #8B4513;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 10px 20px;
}
.main-text__button:hover {
    background-color: #FFC966;
    color: black;
    cursor: pointer;
}

/* About */
.about {
    display: flex;
    padding: 20px;
    margin: 20px 0;
}
.about__icon {
    padding: 0 20px;
}
.about__text {
    flex-grow: 1;
    padding: 0 20px;
}
.about__text h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.about__text p {
    font-size: 1.2rem;
}

/* Features */
.features {
    align-items: center;
    background-color: #ACE1AF;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.feature {
    text-align: center;
    margin-bottom: 20px;
}

.features img {
    width: 100%;
}

/* Dots/Bullets/Indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading Animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Staff */

.staff {
    padding: 20px 20px 40px 20px;
}
.staff__heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.staff-container {
    display: flex;
    flex-direction: column;
}

.staff-member {
    display: flex;
    margin-bottom: 20px;
}
.staff-member i {
    background-color: #FFE4B3;
    padding: 20px;
}

.staff-description {
    background-color: #FAFAFA;
    padding: 20px;
}
.staff-description h3 {
    margin-bottom: 10px;
}

/* Footer */

footer {
    background-color: green;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer-section {
    margin-bottom: 20px;
}
.footer-section__heading {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.footer-section__items li {
    margin-bottom: 10px;
}
.footer-section__items li a {
    color: white;
    font-size: 1.2rem;
}
.footer-section__items li a:hover {
    color: yellow;
}

@media screen and (min-width: 640px) {

    /* Bread Trail */

    .bread-trail {
        font-size: 1em;
        margin-top: 10px;
        padding: 0 20px;
    }

    /* Main */

    .main {
        padding: 20px;
        margin-top: 0;
    }
    .main {
        flex-direction: row;
    }
    .main-image {
        width: 50%;
    }
    .main-text {
        width: 50%;
    }

    .caption {
        font-size: 1.2em;
    }

    /* Features */

    .features {
        flex-direction: row;
        justify-content: space-between;
    }

    .feature {
        width: 30%;
    }

    .features img {
        width: 100%;
    }

    /* Staff */

    .staff-description {
        width: 400px;
    }

    /* Footer */

    footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 730px) {

    /* Header */

    header {
        justify-content: space-between;
    }
    header h1 {
        font-size: 2.2em;
    }
    nav ul {
        display: flex;
    }

    .hamburger-menu-icon {
        display: none;
    }

    /* Main */

    .main {
        flex-direction: row;
    }
    .main-image {
        width: 60%;
    }
    .main-text {
        width: 40%;
    }
}

@media screen and (min-width: 1008px) {

    /* Main */

    .main {
        padding: 20px;
    }
    .main-text {
        padding: 20px;
    }

    /* Features */

    .features {
        flex-direction: row;
        justify-content: space-between;
    }

    .features img {
        width: 300px;
    }

    /* Staff */

    .staff-member-container {
        font-size: 1.2em;
    }
    .staff-description {
        width: 600px;
    }
}

@media screen and (min-width: 1200px) {

    /* Main */
    
    .main {
        padding: 20px;
        margin-top: 0;
    }
    .main-text {
        font-size: 1.4em;
        padding: 20px;
    }

    /* Features */

    .features img {
        width: 400px;
    }

    /* Staff */

    .staff-member-container {
        font-size: 1.4em;
    }
    .staff-description {
        width: 700px;
    }
}